/****************************************************
*
*
*
*
*
*****************************************************/

  body{
    font-family:'Arial', sans-serif;
    font-size:16px;
    color:#333;
    background:#fff;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden
    }

  .header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    min-height: 70px;
    border-bottom:1px solid silver;
    background-color:#e4e4e4;
    }

  .footer {
    font-family:'Arial', sans-serif;
    font-size:12px;
    font-style:italic;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    border-top:none;
    background-color:#e4e4e4;
    }
    
  .container {
    margin:0 auto;
    width:960px;
    border:none;
    position:relative;
  }

  .logo {
    float:left; 
    width:100px;
    height:66px;
    background-color:silver;
  }
  
  .loginbar {
    float:right; 
    width:750px;
    text-align:right;
  }

  /*main div*/
  .main {
    top: 80px;
    margin:0 auto;
    min-height: 400px;
    width:960px;
    border:none;
    position:relative;
    padding:5px;    
    border:1px solid silver;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    background-color: whitesmoke;
  }

  .bluebtn{
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    background:url("../img/btn/blue-submit.png") no-repeat left top;
    height:30px;
    padding:0 20px 0 35px;
    margin:0;
    font-size:12px;
    line-height:20px;
    text-decoration:none;
    text-transform:uppercase;
    -webkit-box-shadow:inset 0 1px 0 #aec6ee;
    -moz-box-shadow:inset 0 1px 0 #aec6ee;
    -o-box-shadow:inset 0 1px 0 #aec6ee;
    -ms-box-shadow:inset 0 1px 0 #aec6ee;
    box-shadow:inset 0 1px 0 #aec6ee;
    color:#fff;
    height:34px;
    letter-spacing:1px;
    cursor:pointer;
    text-shadow:0 -1px 0 #6891bb;
    border:1px solid #7ea7cc}

  .bluebtn:hover{background-position:left bottom}

  .ui-widget-content.ui-dialog {
    border: 3px solid #DDD; 	
  }

  .ui-dialog-titlebar-close {
    border: 0px;
	background:url("../img/btn/red-close.png") center no-repeat;
  }
  
  .ui-dialog-titlebar-close:hover {
    background:url("../img/btn/red-close.png") center no-repeat;
  }

  .row {
    width: 100%;
    height: 40px;
    border-bottom:none;
    text-align:right;
  }
  .colL {
    float:left;
  }
  .colR {
    float:right;
  }

  .coverup {
    top:0;
    left:0;
    position:fixed;
    width:100%;
    height:100%;
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
    background-color:black;
  }
